@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  background-color: hsl(204, 43%, 93%);

}

.fresh {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  padding: 20px;
  width: 664px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.fresh h2 {
  margin-left: 15px;
  color: hsl(179, 62%, 43%);
}

.fresh h3 {
  color: hsl(71, 73%, 54%);
  margin-left: 15px;
  margin-top: 30px;
}

.fresh p {
  margin-left: 15px;
  margin-top: 20px;
  color: hsl(204, 43%, 93%);
  color: hsl(218, 22%, 67%);
}

.second-par {
  display: flex;
  justify-content: center;
}

.con {
  width: 352px;
  height: 300px;
  background-color: hsl(179, 62%, 43%);
  color: white;
  border-bottom-left-radius: 10px;
}

.con span {
  color: hsl(204, 43%, 93%);
}

.con p {
  margin-top: 20px;
  margin-left: 15px;
}

.con h3 {
  margin-top: 30px;
  margin-left: 15px;
}

.con input {
  width: 180px;
  height: 55px;
  margin-top: 35px;
  margin-left: 15px;
  background-color: hsl(71, 73%, 54%);
  color: white;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}

.why {
  width: 352px;
  background-color: hsl(218, 22%, 67%);
  padding-top: 30px;

  color: white;
  border-bottom-right-radius: 10px;

}

.why h5 {
  margin-bottom: 25px;
  font-size: 25px;
  margin-left: 25px;
}

.why p {
  margin-left: 25px;
}